.radio__elem{
  display: none;
}

.radio__custom{
  width: 18px;
  height: 18px;
  position: relative;
  vertical-align: middle;
  background: #fff;
  margin-right: 10px;
}

.radio__custom, .radio__text {
	display: inline-block;
	vertical-align: middle;
}

.radio__elem:checked + .radio__custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background: $orange;
  border-radius: 5px;
}
.radio__custom,
.radio__elem:checked + .radio__custom::before {
	border-radius: 50%;
}

.radio:checked ~ .radio__text{
  color: #fff;
}