.section__title{
  @include gagalin();
  font-size: rem(72px);
  color: $yellow;
  margin-bottom: rem(20px);
  
  &--align-center{
    text-align: center;
  }
  &--color-black{
    color:$black;
  }
}